In [1]:
pip install pandas numpy pillow matplotlib scikit-learn ace_tools

Requirement already satisfied: pandas in ./venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy in ./venv/lib/python3.13/site-packages (2.2.5)
Requirement already satisfied: pillow in ./venv/lib/python3.13/site-packages (11.2.1)
Requirement already satisfied: matplotlib in ./venv/lib/python3.13/site-packages (3.10.1)
Requirement already satisfied: scikit-learn in ./venv/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: ace_tools in ./venv/lib/python3.13/site-packages (0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.13/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.13/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.13/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: scipy>=1.6.0 in ./venv/lib/python3.13/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib/python3.13/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./venv/lib/python3.13/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from PIL import Image
import os
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, svm

df = pd.read_csv("FAOSTAT_data_en_4-24-2025.csv")
df2 = pd.read_csv("CropData.csv")

In [9]:
import pandas as pd
import numpy as np
from PIL import Image
import os
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, svm

df1 = pd.read_csv("Total_YoY_Yield_Loss_Clean.csv")
df2 = pd.read_csv("RainfallByYear.csv")
df3 = pd.read_csv("australia_temperature_trends.csv")
df3

,Year,Month,Monthly_Anomaly,Monthly_Uncertainty,Annual_Anomaly,Annual_Uncertainty,FiveYear_Anomaly,FiveYear_Uncertainty,TenYear_Anomaly,TenYear_Uncertainty,TwentyYear_Anomaly,TwentyYear_Uncertainty
0,1876,2,-0.410,1.455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1876,3,0.103,1.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1876,4,-0.749,1.114,-0.603,0.492,NaN,NaN,NaN,NaN,NaN,NaN
3,1876,5,-0.174,0.945,-0.556,0.461,NaN,NaN,NaN,NaN,NaN,NaN
4,1876,6,-0.978,0.950,-0.435,0.467,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1734,2020,8,1.439,0.166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1735,2020,9,2.590,0.222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1736,2020,10,0.985,0.148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1737,2020,11,2.404,0.173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1738,2020,12,0.065,0.219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# Load datasets
yield_loss_df = pd.read_csv('Total_YoY_Yield_Loss_Clean.csv')
rainfall_df = pd.read_csv('RainfallByYear.csv')
temp_df = pd.read_csv('australia_temperature_trends.csv')

# Prepare yield loss DataFrame
yield_loss_df['YearNumeric'] = yield_loss_df['Year'].str[:4].astype(int)
yield_loss_df = yield_loss_df[['YearNumeric', 'Yield Loss YoY']].rename(
    columns={'Yield Loss YoY': 'YieldLoss'}
)

# Prepare rainfall DataFrame
rainfall_df = rainfall_df.rename(columns={'Rainfall_mm': 'Rainfall'})

# Prepare temperature DataFrame: aggregate annual anomaly
temp_annual = (
    temp_df
    .groupby('Year', as_index=False)['Annual_Anomaly']
    .mean()
    .rename(columns={'Annual_Anomaly': 'TemperatureAnomaly'})
)

# Merge datasets on year
df = (
    yield_loss_df
    .merge(rainfall_df, left_on='YearNumeric', right_on='Year')
    .merge(temp_annual, left_on='YearNumeric', right_on='Year')
)
df = df[['YearNumeric', 'Rainfall', 'TemperatureAnomaly', 'YieldLoss']]

# Fit a simple linear regression model
X = df[['Rainfall', 'TemperatureAnomaly']]
y = df['YieldLoss']
model = LinearRegression()
model.fit(X, y)

# Create properly-named sample DataFrame for 2025
rainfall_dummy = rainfall_df.sort_values('Year').tail(3)['Rainfall'].mean()
temp_dummy = temp_annual.sort_values('Year').tail(3)['TemperatureAnomaly'].mean()

sample_2025 = pd.DataFrame({
    'Rainfall': [rainfall_dummy],
    'TemperatureAnomaly': [temp_dummy]
})
pred_2025 = model.predict(sample_2025)[0]

# Prepare display DataFrame with fitted values
df_display = df.copy()
df_display['PredictedYieldLoss'] = model.predict(X)

# Append the 2025 prediction via pd.concat, using np.nan instead of None
new_row = pd.DataFrame([{
    'YearNumeric': 2025,
    'Rainfall': rainfall_dummy,
    'TemperatureAnomaly': temp_dummy,
    'YieldLoss': np.nan,
    'PredictedYieldLoss': pred_2025
}])
df_display = pd.concat([df_display, new_row], ignore_index=True)

df_display

    YearNumeric    Rainfall  TemperatureAnomaly  YieldLoss  PredictedYieldLoss
0          1989  480.300000            0.217583        0.0         5304.602980
1          1990  413.170000            0.580417        0.0         6178.616833
2          1991  460.810000            0.800917     2288.9         4172.296064
3          1992  447.910000            0.345833        0.0         5862.066679
4          1993  487.960000            0.381917        0.0         4608.288658
5          1994  338.680000            0.237083    12872.5         9311.525729
6          1995  518.150000            0.371750        0.0         3771.535276
7          1996  462.260000            0.613167        0.0         4675.122173
8          1997  514.170000            0.518833     4276.4         3459.225558
9          1998  548.860000            0.949917        0.0         1213.834109
10         1999  578.770000            0.382083        0.0         2002.216170
11         2000  710.570000            0.111500     2106.1         -994.861416
12         2001  542.800000            0.223500        0.0         3494.148781
13         2002  332.540000            0.717333    24146.1         8095.087809
14         2003  469.910000            0.836917        0.0         3806.800494
15         2004  491.580000            0.713417     8129.3         3543.149265
16         2005  394.300000            1.075917        0.0         5283.216306
17         2006  482.060000            0.669833    26087.6         3942.685665
18         2007  495.650000            0.809250        0.0         3148.475740
19         2008  471.420000            0.607250        0.0         4429.453460
20         2009  452.690000            0.991083       24.0         3853.842877
21         2010  683.700000            0.461750        0.0        -1239.529238
22         2011  696.700000            0.028667        0.0         -356.695806
23         2012  471.840000            0.439417     8081.1         4904.079484
24         2013  422.610000            1.310667        0.0         3790.204885
25         2014  473.380000            1.015333     2522.9         3189.870484
26         2015  436.740000            1.048000     2240.3         4146.447464
27         2016  532.090000            1.024667        0.0         1478.254306
28         2017  494.440000            0.993750    17884.4         2648.187601
29         2018  405.850000            1.144167     8611.6         4753.906110
30         2019  275.710000            1.292500     3380.5         8057.849813
31         2020  486.590000            1.254333        0.0         2117.795687
32         2025  553.683333            1.230333        NaN          262.297354